<div class="product-list">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.image" alt="{{ product.name }}" class="product-image">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Rating: {{ product.rating }} ⭐</p>
    <a [href]="product.link" target="_blank">Открыть в приложении Kaspi.kz</a>

    <button (click)="shareProduct(product)">Поделиться в WhatsApp</button>
    <button (click)="shareProductTelegram(product)">Поделиться в Telegram</button>
  </div>
</div>

  






