#background{
    background-color: #F5E5E0;
    height: 1500px;
}
#logo{
    float:left;
    margin-left: 80px;
}
.top{
    text-decoration: none;
    color:black;
    padding-inline: 10px;
    font-size: smaller;
}
.top:hover{
    text-decoration: underline;
}
.top:focus{
    border: 1px dotted black;
    padding: 10px;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#blue{
    background-color: #0067B8;
    margin-top: 22px;
    height: 40px;
    font-weight: 500;
    text-align: center;
    padding-top: 20px;
}
#bluel{
    text-decoration: none;
    color: white;
}
#bluel:hover{
    text-decoration: underline;
}
#back{
    position: relative;
    top: 10px;
    z-index: 10;
}

h1{
    font-size: 50px;
    text-align: center;
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 0px;
}

#b1{
    color: white;
    background-color: black;
    border: 1px solid black;
    width: 210px;
    height: 45px;
    margin-left: 510px;
    font-size: 17px;
    font-weight: 500;
    padding-top: 5px;
}
#b2{
    color: white;
    background-color: black;
    border: 1px solid black;
    width: 250px;
    height: 45px;
    font-size: 17px;
    font-weight: 500;
    margin-left: 25px;
    padding-top: 5px;
}
#p1{
    text-align: center;
    font-size: 16px;
}
select{
    margin-left: 220px;
    border: none;
}
.text{
    text-decoration: none;
    font-size: smaller;
    color: black;
}
#tele{
    position: relative;
    top: 10px;
}
#lupa{
    position: relative;
    top: 10px;
}
#user{
    position: relative;
    top: 5px;
}
button:hover{
    cursor: pointer;
}
.afon{
    background-color: white;
    width: 430px;
    height: 480px;
    box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
    -moz-box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
}
.aa{
    padding-left: 20px;
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 0px;
}
.bb{
    padding-left: 20px;
}
.cc{
    margin-left: 20px;
    height: 42px;
    color: white;
    border: none;
    background-color:#0067B8;
    border-radius: 2px;
    font-weight: bolder;
    font-size: 16px;
    
}
.blink:focus{
    border: 3px dashed white;
    padding: 5px;
}
#Fon{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}
#bb1{
    width: 160px;
}
#bb2{
    width: 110px;
    margin-top: 25px;
}
#bb3{
    width: 110px;
    margin-top: 28px;
}
#Bottom{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 70px;
    margin-bottom: 90px;
}
.lll{
    color: #0067B8;
    font-weight: 500;
}
.ll{
    margin-left: 60px;
}
#ll1{
    margin-left: 90px;
}
#ll2{
    margin-left: 40px;
}
#ll3{
    margin-left: 70px;
}
#FFon{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.f{
    box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
    -webkit-box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
    -moz-box-shadow: 0px -1px 5px 2px rgba(193,193,193,0.75);
    height: 480px;
    margin-bottom: 70px;
}
.blink{
    text-decoration: none;
    color: white;
}

#ff1{
    margin-top: 35px;
}
#ff2{
    margin-top: 35px;
}
